<html>
<head>
  <meta charset="utf-8">
  <title>Weave Transfer | Files sent!</title>

</head>

<body>
  
  <div style="background-color: #D3E3FC;font-family: Arial, sans-serif;margin: 0;height: 100vh;text-align: center;">

    <div style="background-color: white;display: inline-block;text-align: left;padding: 5%; height: 100vh; width: 500px; word-wrap: break-word;">

      <div style="background-color: white;width: 100%;text-align: center;">
        <img src="https://weavetransfer.othent.io/favicon.png" alt="WeaveTransfer Logo" draggable="false" style="height: 150px; width: 150px; margin: 0 auto;">
        <h1 style="font-size: 2.2em;font-weight: 250; margin-bottom: 30px; margin-top: 0;">
          {{sendToEmail}}
          <br>
          file sent!
        </h1>
      </div>

      <div style="border-bottom: 1px solid lightgrey;border-top: 1px solid lightgrey;padding: 30px;margin-bottom: 30px;">
        <div style="font-weight: bold; font-size: 1.1em; background-color: #2375EF; border-radius: 8px; padding: 1rem; width: fit-content;">
          <a href="{{fileDownloadLink}}" target="_blank" style="text-decoration: none; color: white;">
            Download File
          </a>
        </div>
        <p style="font-size: 1.1em; margin-top: 30px;">- Thank you for using Weave Transfer!</p>
      </div>


      <div style="text-align: center;">
        <p style="color: lightgray;">
          <span>Please reach out if you have any questions at:</span>
          <br>
          <a style="color: #2375EF; text-decoration: none;" href="mailto:hello@othent.io">hello@othent.io</a>
        </p>
        <div style="display: inline-flex;align-items: center;justify-content: center;margin: 20px 0;">
          <a target="_blank" href="https://twitter.com/othent_io">
            <img src="https://othent.io/twitter.png" alt="Othent.io Twitter Logo" style="height: 20px; margin: 10px; margin-top: 0; margin-bottom: 0;">
          </a>
          <a target="_blank" href="https://weavetransfer.othent.io">
            <img src="https://othent.io/website.png" alt="Othent.io Website Logo" style="height: 20px; margin: 10px; margin-top: 0; margin-bottom: 0;">
          </a>
        </div>
        <p style="color: lightgray; padding-bottom: 25px;">© Weave Transfer. All rights reserved.</p>
      </div>

    </div>

  </div>

</body>


</html>